@{
    ViewBag.Title = "About START";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<h4>What is START?</h4>
<p>The <b>S</b>ilent <b>T</b>actical <b>A</b>lert <b>R</b>esponse <b>T</b>eam Application provides
    <ul>
        <li>An easy way for people in danger to silently get assistance</li>

        <li>To alert proper local authorities</li>

        <li>Achieve better response times for dangerous situations</li>
    </ul>
</p>

<h4>Who is START for?</h4>
<p>
    <ul>
        <li>Small businesses, 10 to 400 employees</li>

        <li>Companies that cannot afford a high tier alert system</li>

        <li>Personal home use for families</li>
    </ul>
</p>
